<div class="line-item">
    {% comment %}
        Display a Different Order Line Item based on the product_type
    {% endcomment %}
    {% assign PRODUCT_TYPE = line_item.product.type | downcase %}
    {% assign EXPERIENCE_PRODUCT_TYPE = 'experience' %}
    {% assign DONATION_PRODUCT_TYPE = 'donation' %}
    {% if PRODUCT_TYPE == EXPERIENCE_PRODUCT_TYPE %}
        {% include 'account-order-line-item-experience' %}
    {% elsif PRODUCT_TYPE == DONATION_PRODUCT_TYPE %}
        {% include 'account-order-line-item-donation' %}
    {% else %}
        {% comment %} NOOP -- here for future use cases {% endcomment %}
    {% endif %}
</div>
