<div class="ac-breadcrumb" id="donationHistory_breadcrumb">

    {%- assign EXPERIENCES_PAGE = '/account#/experiences' -%}
    {% capture linkText %}
        <span class="arrow"><</span>
        {{ 'customer.donation_history.breadcrumb' | t }}
    {% endcapture %}

    {{ linkText | link_to: EXPERIENCES_PAGE }}
</div>

<div class="ac-greeting ac-donation-history">
    {{ 'customer.donation_history.title' | t }}
</div>
