<div class="oz-winner-component-list__content">
	<img class="oz-winner-component-list__image lazyload" src="{{ 'did-you-know.png' | asset_img_url: '588x105' }}">
	<h2 class="oz-winner-component-list__header phone hide-desktop">
		{{- settings.winners_content_header_mobile-}}
	</h2>
	<h2 class="hide-phone hide-tablet oz-winner-component-list__header">
		{{- settings.winners_content_header_desktop-}}
	</h2>
	<p class="oz-winner-component-list__copy">
		{{- settings.winners_content_copy -}}
	</p>
</div>