
<div class="oz-component-card">
    <div class="oz-component-card__header-wrap">
		<header class="oz-component-card__header">
        	<div class="oz-component-card__img oz-component-card--no-padding">
				<div class="oz-img">
					<div class="oz-component-card__intrinsic-ratio intrinsic-ratio">
					</div>
					<img class="lazyload oz-img__img" data-sizes="auto" data-srcset="{{ 'test-winner-img.png' | asset_img_url: '233x198', crop: 'bottom' }}" alt="Winner Image" />
					<div class="oz-img__placeholder ng-scope"></div>
				</div>
            </div>
        </header>
	</div>
    <div class="oz-component-card__body">
        <h4 class="oz-component-card__title oz-overflow-ellipsis">
            Lucy M.
        </h4>
        <p class="oz-component-card__copy">
            Won a seat at the private pre-Oscars dinner party!
        </p>
	</div>
    <div class="oz-component-card__footer">
        <div class="oz-component-card__link">more ❯</div>
	</div>
</div>