{% assign meta = page.metafields['newsletter'] %}

<form id="oz-newsletter--signup" class="oz-form oz-newsletter-form oz-newsletter-form--footer">
	<div class="oz-newsletter-wrapper">
		<div class="oz-newsletter-form__title-container">
			<div class="oz-newsletter-form__title oz-section-title oz-centered">
				{%- if meta['header'] != blank -%}
					{{- meta['header'] -}}
				{%- else -%}
					{{- settings.newsletter_header -}}
				{%- endif -%}
			</div>
			<div class="oz-newsletter-form__desc oz-section-title__subtitle oz-color--dark-gray oz-centered">
				{%- if meta['copy'] != blank -%}
					{{- meta['copy'] -}}
				{%- else -%}
					{{- settings.newsletter_copy -}}
				{%- endif -%}
			</div>
		</div>
		<div class="oz-field-wrap">
			<input class="oz-input oz-newsletter-form__text-input js-newsletter-text-input jqvEmail" type="email" name="email" placeholder="Enter email address">
		<input type="submit" class="oz-btn oz-btn--cta hoverable oz-newsletter-form__btn" value="sign me up" name="subscribe">
		</div>
	</div>
</form>

