<div class="cart__title_rebrand">
    <div class="cart__title_rebrand-inner">
        <h1 class="cart__title_rebrand-heading">Your cart</h1>

        <div class="breadcrumb">
            <span class="breadcrumb__step breadcrumb__step--current">Cart</span>
            <span class="breadcrumb__step ">Information</span>
            <span class="breadcrumb__step ">Payment</span>
            <span class="breadcrumb__step ">Confirmation</span>
        </div>
    </div>
</div>
