<div class="checkout__header_rebrand">
    <div class="checkout__header_rebrand-inner">
        <div class="breadcrumb">
            <div class="breadcrumb__step--wrap breadcrumb__step--cart">
                <a href="/cart" class="breadcrumb__step breadcrumb__step--completed">Cart</a>
            </div>
            <div class="breadcrumb__step--wrap breadcrumb__step--information">
                <span class="breadcrumb__step breadcrumb__step--current">Information</span>
            </div>
            <div class="breadcrumb__step--wrap breadcrumb__step--payment">
                <span class="breadcrumb__step">Payment</span>
            </div>
            <div class="breadcrumb__step--wrap breadcrumb__step--confirmation">
                <span class="breadcrumb__step">Confirmation</span>
            </div>
        </div>
    </div>
</div>
