<div class="collection-page-skeleton__container">
    <div class="collection-page-skeleton__cards">
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
    </div>
</div>
