<section class="oz-donations__about-wrapper">
    <div class="oz-donations__about">
        <h3>Dream experiences. Great causes.</h3>
        <p>
            Omaze experiences raise funds for Charities Aid Foundation America (“CAF America”), a US-registered, 501(c)(3) public charity. 100% of donations go to CAF America, which will then grant the donations, minus experience fees and costs, to the nonprofit(s) identified on the experience page. For more info, see the “Fundraising Transparency” section at the bottom of each experience page.
        </p>
        <p class="oz-donations-about__asterisk">
            <sup>**</sup>“100% of net donations” equals gross donations minus payment processing fees and marketing spend.
        </p>
    </div>
</section>
