<div class="home-curated-collection-skeleton--carousel">
    <div class="home-curated-collection-skeleton--header">
        <div class="ozc-skeleton-box ozc-skeleton-box--title"></div>
        <div class="ozc-skeleton-box ozc-skeleton-box--pagination desktop-only"></div>
    </div>
    <div class="home-curated-collection-skeleton--cards">
        <div class="home-curated-collection-skeleton--card">
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div class="home-curated-collection-skeleton--card">
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div class="home-curated-collection-skeleton--card">
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
        <div class="home-curated-collection-skeleton--card">
            <div class="ozc-skeleton-box ozc-skeleton-box--card-image"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--card-desc3"></div>
        </div>
    </div>
</div>
