<div class="home-featured-ad-skeleton">
    <div class="home-featured-ad-skeleton--image-container">
        <div class="ozc-skeleton-box ozc-skeleton-box--image">

        </div>
    </div>

    <div class="home-featured-ad-skeleton--content">
        <div>
            <div class="ozc-skeleton-box ozc-skeleton-box--headline1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--headline2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--subtitle1"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--subtitle2"></div>
            <div class="ozc-skeleton-box ozc-skeleton-box--link"></div>
        </div>
    </div>
</div>

{% render 'skeleton-loading' %}
