<section class="oz-component-items-sold">
	<div class="oz-progress-bar">
		<div class="oz-progress-bar__progress" style="width: {{ meta.product.funded }};">
		</div>
	</div>
	<div class="oz-items-sold">
	    <div class="oz-items-sold__info">
	        <div class="oz-items-sold__info-wrap">
	            <div class="oz-items-sold__val">{{ meta.product.funded }}</div>
	            <div class="oz-items-sold__type">funded</div>
	        </div>
	    </div>
	    <div class="oz-items-sold__info">
	        <div class="oz-items-sold__info-wrap">
	            <div class="oz-items-sold__val">{{ meta.product.sold }}</div>
	            <div class="oz-items-sold__type">sold</div>
	        </div>
	    </div>
	    <div class="oz-items-sold__info">
	        <div class="oz-items-sold__info-wrap">
	            <div class="oz-items-sold__val">{{ meta.product.goal }}</div>
	            <div class="oz-items-sold__type">goal</div>
	        </div>
	    </div>
	</div>
</section>