<div class="oz-counter js-counter exp-details__counter{% if hide %} exp-details__counter--hide{% endif %}" data-end-date="{{ meta.experience.end_date }}">
	<div class="oz-counter__title">Campaign Ends In</div>
	<div class="oz-counter__item">
		<div class="oz-counter__value js-counter-days">00</div>
		<div class="oz-counter__type">days</div>
	</div>
	<div class="oz-counter__dots">:</div>
	<div class="oz-counter__item">
		<div class="oz-counter__value js-counter-hours">00</div>
		<div class="oz-counter__type">hrs</div>
	</div>
	<div class="oz-counter__dots">:</div>
	<div class="oz-counter__item">
		<div class="oz-counter__value js-counter-mins">00</div>
		<div class="oz-counter__type">mins</div>
	</div>
	<div class="oz-counter__dots">:</div>
	<div class="oz-counter__item">
		<div class="oz-counter__value js-counter-secs">00</div>
		<div class="oz-counter__type">secs</div>
	</div>
</div>
