<div class="{% include 'h-module', class: 'exp-newsletter-form' %}">
	<form id="oz-newsletter--signup" class="oz-form oz-newsletter-form">
		<div class="oz-newsletter-wrapper">
			<div class="oz-newsletter-form__title-container">
				<div class="oz-newsletter-form__title oz-section-title oz-centered">
					Wait, don't go!
				</div>
				<div class="oz-newsletter-form__desc oz-section-title__subtitle oz-color--dark-gray oz-centered">
					Enter your email and we’ll send you new opportunities to win and incredible causes to support.
				</div>
			</div>
			<div class="oz-field-wrap">
				<input class="oz-input oz-newsletter-form__text-input js-newsletter-text-input jqvEmail" type="email" name="email" placeholder="Enter email address">
				<input type="submit" class="oz-btn oz-btn--cta hoverable oz-newsletter-form__btn" value="Sign Me Up" name="subscribe">
			</div>

		</div>
	</form>
</div>
