<form name="form">
    <div class="oz-field">
	    <div class="oz-field__container">
	        <div>
		        <input type="text" class="input" />
		        <label class="ng-scope" for="oz-1">email</label>
		    </div>
	    </div>
	</div>
</form>

<br />

<form class="oz-form oz-newsletter-form oz-newsletter-form--footer" style="background: #F1F2F2;padding: 30px 45px;">
	<div class="oz-newsletter-wrapper">
		<div class="oz-field-wrap">
			<input class="oz-input oz-newsletter-form__text-input js-newsletter-text-input jqvEmail" type="email" name="email" placeholder="Enter email address">
		</div>
		<div class="oz-field-submit">
			<input type="submit" class="oz-btn oz-btn--block oz-btn--cta hoverable oz-newsletter-form__btn" value="Sign Me Up" name="subscribe">
		</div>
	</div>
</form>

<h3>Form Errors</h3>

<form name="form">
    <div class="oz-field oz-error">
	    <div class="oz-field__container">
	        <div>
		        <input type="text" class="input" />
		        <label class="ng-scope" for="oz-1">email</label>
		    </div>
			<div class="messages is-visible">
				<div class="message message--error">
					<p>Error message!</p>
				</div>
			</div>
	    </div>
	</div>
</form>
<br />
<form name="form">
    <div class="oz-field">
	    <div class="oz-field__container">
	        <div>
		        <input type="text" class="input" />
		        <label class="ng-scope" for="oz-1">email</label>
		    </div>
			<div class="messages is-visible">
				<div class="message message--success">
					<p>Error message!</p>
				</div>
			</div>
	    </div>
	</div>
</form>