.ozc-srolltop-button {
    position: relative;
    display: inline-block;
    font-size: 18px;
    padding-top: 8px;
    cursor: pointer;
}

.ozc-srolltop-button:before {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #1a1a1a;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0) rotate(45deg);
    border-width: 2px 0px 0px 2px;
}
