/*
////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------
1. No Overflow
2. Container
3. Columns
////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------

///////////////////////////////////////////////////////////
1. No Overflow
///////////////////////////////////////////////////////////
*/
.overflow-hidden {
	overflow:hidden !important;
}

/*
///////////////////////////////////////////////////////////
2. Container
///////////////////////////////////////////////////////////
*/

.container {
	@include clearfix;
	margin:0 auto;
	// max-width:$breakpoint-huge;
	@include gutters($gutter-base);
}

/*
///////////////////////////////////////////////////////////
3. Columns
///////////////////////////////////////////////////////////
*/
$col-count:6;
.cols {
    @include clearfix;
}
.colm {
	@include apply-to(desktop) {
		float:left;

		@for $i from 1 through $col-count {
			&--#{$i} {
				width:percentage($i/$col-count);
			}
		}
	}
}