/*
////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------
Product
Product Item
////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------

///////////////////////////////////////////////////////////
1. Product
///////////////////////////////////////////////////////////
*/
.products {
	@extend %clearfix;
	font-size: 0;
	margin: 0 0 0 rem(-20);
	padding: 0;
	text-align: left;
	transition: margin $normal-timer $ease-1;
}

/*
///////////////////////////////////////////////////////////
Product Item
///////////////////////////////////////////////////////////
*/
.pi {
	display: inline-block;
	font-size: rem(16);
	padding: 0 0 em(50) em(20);
	transition: padding $normal-timer $ease-1;
	vertical-align: top;
	width: 50%;

	@include apply-to(tablet) {
		width: 33.332%;
	}

	@include apply-to(desktop) {
		width: 25%;
	}

	&__desc { // .pi__desc
		padding: em(10) 0 0 0;
	}

	&__title { // .pi__title
		font-size: em(16);
		letter-spacing: 0.05em;
		margin-top: 0;
		margin-bottom: rem(4);
		min-height: em(32);

		@include apply-to(tablet) {
			font-size: em(18);
		}
	}

	&__price { // .pi__price
		letter-spacing: 0.05em;
		margin: 0;
	}

	&__link { // .pi__link
		display: block;
	}
}