/**
 * oz video
 */

// .oz-video
.oz-video {

	// .oz-video__container
    &__container {

		// .oz-video__container video
        > video {
            @include middle();
        }

		// .oz-video__container::before
        &::before {
            background: $black-4;
        }
    }

	// .oz-video--hide-controls
    &--hide-controls {
        video::-webkit-media-controls {
            display:none;
        }
    }

	// .oz-video iframe (first)
    & > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}