/**
 * Experience Info
 */

 /**
  * variables
  */
 $VERTICAL_SPACE: rem(30);
 $HORIZ_SPACE: rem(60);
 $ELEM_SPACE: rem(20);


.exp-info {
    margin: $VERTICAL_SPACE;
    display: flex;
    flex-direction: column;

    @include apply-to(desktop) {
        margin: $VERTICAL_SPACE $HORIZ_SPACE;
    }

    // .exp-info__sponsor-msg
    &__sponsor-msg {
        order: -3;
        margin: 0 rem(20) rem(40) rem(20);

        // .exp-info__sponsor-msg ul
        ul {
            list-style: none;

            // .exp-info__sponsor-msg ul::before
            &::before {
                content: '';
                // background-image: url('//s3-us-west-2.amazonaws.com/omaze/web/common/assets/image/sprites/2x_vector.png');
                display: block;
                height: rem(40);
                width: rem(40);
                margin-top: rem(5);
                margin-right: rem(20);
                float: left;
                background-size: contain;
            }
        }

        // .exp-info__sponsor-msg li
        li {
            font-size: 16px;
            text-align: initial;
            padding-left: 60px;
        }

        & > p {
            font-size: 16px;
            text-align: initial;
            margin-bottom: 5px;
        }
    }

    // .exp-info .oz-section-title
    .oz-section-title {
        order: -1;
        letter-spacing: -1px;
        margin-bottom: rem(10);
        margin-left: -3px;

        @include apply-to(tablet) {
            margin-left: 0;
        }

        @include apply-to(desktop) {
            order: -2;
        }
    }

    // .exp-info__img-wrapper
    &__img-wrapper {
        position: relative;
        overflow: hidden;
        order: -2;
        margin-left: -$VERTICAL_SPACE;
        margin-right: -$VERTICAL_SPACE;
        margin-bottom: rem(23);

        @include apply-to(tablet) {
            margin-left: 0;
            margin-right: 0;
        }

        @include apply-to(desktop) {
            order: -1;
        }

        &:before {
            content: '';
            display: block;
            z-index: 0;
            @include intrinsic-ratio-padding(16/9);
            position: relative;
            width: 100%;
            height: 0;
            overflow: hidden;
            background: $gray-8;
        }

        & > img {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: auto;
        }

    }

    // .exp-info__gift
    &__gift {

        // .exp-info__gift:hover
        &:hover {
            text-decoration: underline;
        }

        // .exp-info__gift p
        p {
            margin-bottom: 0;

            @include apply-to(desktop) {
                margin-bottom: 1.35em;
                font-size: 22px;
            }
        }

        // .exp-info__gift span
        span {
            // background-image: url('//assets.omaze.com/img/icons/gift/gift_elements_gift_box.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 14px;
            height: 18px;
            position: relative;
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    // .exp-info__charity-logo-wrapper
    &__charity-logo-wrapper {
        margin: rem(10) auto;
        position: relative;
        width: 50%;
        height: rem(80);

        @include apply-to(tablet) {
            margin: rem(30) auto;
            height: rem(100);
        }
    }

    // .exp-info__charity-logo
    &__charity-logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    // .exp-info .oz-progress-bar
    .oz-progress-bar {
        width: 100%;
    }

    // .oz-wysigyg__fame-callout
    .oz-wysigyg__fame-callout p {
        font-style: italic;
    }
}

// rebrand css
body.rebrand {
    .exp-info {
        margin: rem(16) rem(24) rem(16);

        @include apply-to(tablet) {
            margin: rem(32) rem(54) rem(32) rem(64);
        }

        .oz-section-title {
            color: $new-grey;
            font-family: $primary-font-rebrand;
            font-size: rem(36);
            line-height: 1.5;
            letter-spacing: 0.015rem;
            font-weight: 700;
            margin-bottom: rem(16);

            &::first-letter {
                text-transform: capitalize;
            }

            @include apply-to(phone) {
                font-size: rem(24);
                margin-bottom: rem(8);
            }
        }

        .exp-info__img-wrapper {
            margin-bottom: rem(24);

            @include apply-to(phone) {
                margin-bottom: rem(16);
            }
        }

        .oz-wysigyg {
            p {
                color: $black-2;
                font-family: $primary-font-rebrand;
                font-size: rem(16);
                line-height: 1.5;
                letter-spacing: 0.015rem;
                font-weight: 500;
                margin-bottom: rem(0);
            }

            .oz-wysigyg__fame-callout {
                margin-top: rem(16);
                margin-bottom: 0;
                p {
                    font-weight: 400;
                }
            }
        }

        .exp-info__charity-logo-wrapper {
            margin: rem(32) auto rem(24);

            @include apply-to(phone) {
                margin: rem(16) auto rem(6);
            }
        }
    }
}
