.exp-details__dates {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 32px auto;

    @include apply-to(desktop) {
        margin: 40px auto;
    }

    .exp-details__date-label {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: .4px;
        text-transform: uppercase;
        margin-bottom: 4px;

        @include apply-to(desktop) {
            font-size: 16px;
            line-height: 16px;
        }
    }

    .exp-details__date-value {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: .4px;
        text-transform: uppercase;
        font-weight: 700;

        @include apply-to(desktop) {
            font-size: 18px;
            line-height: 18px;
        }
    }
}
