/**
 * Article Causes
 * Blog Detail
 */

@font-face {
  font-family: 'National Medium';
  font-style: normal;
  font-weight: 400;
  src: url('{{ "NationalMedium.woff" | asset_url }}') format("woff");
}
