/*
////////////////////////////////////////////////////////////////////////////////
--------------------------------------------------------------------------------
Helpers
--------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////
*/
.cf,
.group {
	@include clearfix;
}

.hide {
	display:none;
}

.show {
	display:block;
}

.show-inline {
	display:inline-block;
}

.list-reset {
	font-size:1em;
	margin:0;
	padding:0;
	list-style:none;
}

.title,
.page-title {
}

.pull-left {
	float:left;

	&__list {
		li {
			float: left;
		}
	}
}

.pull-right {
	float:right;
}

.screenreader {
	position: absolute;
	left: -3000px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

hr,
.hr {
	background:$gray-1;
	border:0;
	height:em(1);
	margin:em(20) 0;

	@include apply-to(desktop) {
		margin:em(30) 0;
	}
}

.hr {
	&--dark {
		background:$black-1;
	}
}

.width-100 {
	width: 100%;
}

.m0 {
	margin:0;
}

.underline {
	text-decoration: underline;
}