/**
 * components
 */

.oz-winner-component-list {

	// .oz-winners-component-list__content
	&__content {
	    margin: 0 0 rem(60);
	    padding: 0 rem(30);

		@include apply-to(tablet) {
			text-align: center;
			margin: rem(60) 0 rem(85);
		}
	}

	// .oz-winners-component-list__image
	&__image {
		display: block;
	    width: rem(150);
	    margin: 0 auto rem(25);

	    @include apply-to(tablet) {
			width: rem(250);
		    margin-bottom: rem(50);
	    }
	}

	// .oz-winners-component-list__header
	&__header {
	    font-family: $secondary-font;
	    font-size: rem(32);
	    letter-spacing: rem(-.8);
	    margin-bottom: rem(20);
	    text-align: center;

	    @include apply-to(desktop) {
			font-size: rem(55);
			letter-spacing: rem(.3);
			margin-bottom: rem(45);
	    }

	    strong {
			display: block;
			font-size: 46px;
			letter-spacing: -1.1px;

			@include apply-to(desktop) {
				font-size: 80px;
				letter-spacing: .5px;
			}
	    }
	}

	// .oz-winners-component-list__copy
	&__copy {
		font-size: rem(16);
		font-weight: $light;
		line-height: 1.6;
		margin: auto;
		max-width: rem(800);

		@include apply-to(desktop) {
			font-size: rem(22);
			line-height: 1.7;
		}
	}
}