<section id="page_{{ page.handle | replace : '-','_' }}" class="template--legal-pages page page--{{ page.handle }}">
	<div class="page__container">
		<div class="page__header">
			<h1 class="page__title">{{ page.title }}</h1>
		</div>
		<div class="page__rte rte">{{ page.content }}</div>
	</div>
</section>
