/* Core */
@import "core/core";
@import "style/globals/normalize";
@import "style/globals/normalize-custom";

img {
	max-width:100%;
	width:100%;
}

/**
 * html / body
 */
html, body {
	height: 100%;
}

/**
 * body
 */
body {
	background-color:#{'"{{settings.bgcolor}}"'};
	color:#{'"{{settings.text_color}}"'};
	font-family:'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
}

#page-password {
	&.form-visible {
		.pwd__form {
			transform: translateX(0);
		}
	}
}

/**
 * Screenreader
 */
.screenreader {
	left: -3000px;
	position: absolute;
}

/**
 * Form
 */
.form-inline {
	background-color:#{'"{{settings.input_bgcolor}}"'};
	border-width:1px;
	border-style:solid;
	border-color:#{'"{{settings.input_border_color}}"'};
	display: flex;

	// .form-inline__input
	&__input {
		flex: 1 0 0%;
	}

	// .form-inline__btn
	&__btn {
		background:transparent;
		border:0;
		padding:em(10) em(15) em(9);
	}
}

/**
 * Icon Arrow
 */
.icon-arrow {
	border: solid #{'"{{settings.input_text_color}}"'};
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
	transform: rotate(-45deg);
}

/**
 * label
 */
label {
	display:inline-block;
	margin-bottom:em(5);
}


/**
 * input
 */
.input {
	background:transparent;
	border: 0;
	border-radius: 0;
	color:#{'"{{settings.input_text_color}}"'};
	font-size:em(16);
	padding:em(10) em(15) em(9);
	text-align: left;
	width: 100%;

	&:focus {
		outline:none;
	}
}

/**
 * password
 */
.pwd {
	align-items:center;
	display:flex;
	flex: 1 0 auto;
	justify-content:center;
	flex-direction: column;

	&__form {
		position: fixed;
		top: 0;
		right: 0;
		padding-right: em(20);
		padding-top: em(20);
		padding-left: em(5);
		transition: all $fast-timer $ease-1;
		transform: translateX(100%);
	}

	&__btn {
		position: fixed;
		top: 0;
		right: 0;
		width: em(20);
		height: em(20);
		border: 0;
		background: 0;
		padding: 0;
		outline: none;
	}

	&__container {
		max-width:em(480);
		padding:em(20) em(20) em(40);
		width:100%;

		@include apply-to(desktop) {
			padding:em(40) em(40) em(80);
		}
	}

	&__logo {
		margin:0 auto em(15);
		max-width:em(200);
	}
}

/**
 * errors
 */
.errors {
	background-color: $red-2;
	border-left:5px solid $red-1;
	color: $white;
	@include mqstyle('line-height',$lineheight-p);
	margin-bottom: em(30);
	padding: em(15);
	text-align: left;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}