/**
 * Breakpoints
 * @description		Used for media queries
 *
 * Breakpoints are different than standard SDG build
 * Values for tablet and desktop come from old omaze site
 */

$breakpoint-smallest-phone: 374px;
$breakpoint-smaller-phone: 413px;
$breakpoint-phone: 480px;
$breakpoint-tablet: 719px;
$breakpoint-tablet-portrait: 979px;
$breakpoint-desktop-narrow: 1000px;
$breakpoint-desktop: 1099px;
$breakpoint-large: 1280px;
$breakpoint-huge: 1399px;

$break-drawer-full: 418px;
$break-bag-desktop-large: 1270px;