/**
 * Form Variables
 */
// Form List
$form-list-gutter: 22; // tablet, desktop

// Inputs
$input-border-color: $gray-1;
$input-padding: rem(10) rem(20); // 42px tall
$input-placeholder-color: $gray-1;

// Select
$select-padding: rem(10) rem(40) rem(10) rem(70);